<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Editing Symbole</h1>
          <%= render 'form' %>
        <%= link_to 'Show', @symbole %> |
        <%= link_to 'Back', symboles_path %>
      </div>
    </div>
  </div>
</div>
