<% if current_user %>
  <div class="hiragana-fav">
    <% if symbole.is_faved_by(current_user) %>
      <%= link_to "#" do %>
        <i class="fa fa-heart faved faved-on" id ="<%=symbole.id%>"></i>
      <% end %>
    <% else %>
      <%= link_to "#" do %>
        <i class="fa fa-heart faved faved-off" id ="<%=symbole.id%>"></i>
      <% end %>
    <% end  %>
  </div>
<% end %>

