 .coverhome {
  background-image: url("http://res.cloudinary.com/dzr44aeiu/image/upload/v1452088480/background-japon.png");
  background-size: cover;
  position:relative;
  height: 555px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
  text-align:center;

  .synestasia-title {
    padding-top: 120px;
    width: 330px;
  }

   h1 {
    margin:0;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-heigth: 35px;
    font-weight:400;
    font-size: 27px;
    color: #fff;
  }

.coverhome-filter {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background: rgba(0,0,0,0.7);
  }
}

.cover-slide-two {
  background-image: url("http://res.cloudinary.com/dzr44aeiu/image/upload/v1452345175/teach-colors_iy5lgf.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position:relative;
  height: 660px;
  width: 100%;
  margin-top:0;
  text-align:center;

  h1 {
    margin:0;
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

  .separator {
    padding-top: 30px;
  }

  h2 {
    line-height: 30px;
    margin:0;
    letter-spacing: 2px;
    font-weight:400;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

    .coverhome-filter-one {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background: rgba(0,0,0,0.35);
  }
}

.cover-slide-three {
  background-image: url("http://res.cloudinary.com/dzr44aeiu/image/upload/v1452344509/bg-tokyo_ptiez2.jpg");
  background-size: cover;
  position:relative;
  height: 545px;
  width: 100%;
  background-repeat: no-repeat;
  margin-top:0;
  text-align:center;

  h1 {
    margin:0;
    padding-top: 120px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

  h2 {
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:300;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

  .coverhome-filter-one {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background: rgba(0,0,0,0.5);
  }
}

.training-section{
  padding-top: 90px;
}

.contact-section{
  padding-top: 60px;
  padding-bottom: 80px;
}

// Page en cours de réalisation
.page-progress {
  padding-top:100px;
  padding-bottom: 200px;
  text-align: center;
}










