<div class="footer">
  <div class="container-fluid">
    <div class="row">

         <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to legal_path do %>
                  <p>Mentions légales</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to contact_path do %>
                  <p>Contactez-nous</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-footer">
              <li class="list-title">
                <%= link_to contact_path do %>
                  <p>On recrute !</p>
              </li>
              <% end %>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-inline list-footer">
              <li class="list-title">
                <a href="https://www.facebook.com/synestasia/" target="_blank">
                  <i class="fa fa-facebook-official fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/synestasia" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
            <!-- <li>
              <a href="https://medium.com/france/lire-en-couleur-pourquoi-comment-d9ad35db233f#.9hlura4j9" target="_blank">
                <i class="fa fa-medium fa-2x"></i>
              </a>
            </li> -->
             <!-- <li>
              <a href="#">
                <i class="fa fa-tumblr fa-2x"></i>
              </a>
            </li> -->
             <li>
              <a href="#">
                <i class="fa fa-youtube fa-2x"></i>
              </a>
            </li>
          <!--   <li>
              <a href="#">
                 <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </li> -->
             <li>
              <a href="https://www.instagram.com/synestasia/" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
            </li>

          </ul>
        </div>
    </div>

        <div class="line-separator col-xs-12 col-sm-4 col-sm-offset-4"></div>
        <div class="copyright row text-center" id="footer-heart">
            <p>Fait avec <i class="fa fa-heart"></i> entre Paris et Tokyo</p>
        </div>
  </div>
</div>

