<ul class="list-inline text-center start-gap2">
  <li>
    <div class="card">
      <div class="front">

        <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'>A</h4><p class='text-center'><b>a</b> comme dans <b>attention</b></p>">
          <i class="fa fa-eye fa-lg"></i>
        </span>
        <!-- son de l'hiragana -->
        <div class="audioclick">
          <a onclick="h=function(event) { event.preventDefault(); $('#audio_gbu')[0].play();}; h(event);"><i class="fa fa-volume-up fa-lg" style="backface-visibility: hidden;"></i></a>
          <audio id="audio_gbu">
            <source src="http://res.cloudinary.com/dzr44aeiu/video/upload/v1458554325/cgfg1kee44zcigvewfdh.wav" type="audio/mp3">
            Your browser does not support the video tag.
          </audio>
        </div>

        <!-- image mnémotechnique -->
        <span class="idea popover-word" data-content="<p class='text-center'><b>l'image est bientôt prête !</b></p>">
        <i class="fa fa-lightbulb-o fa-lg"></i>
        </span>
        <div class="card-hiragana hiragana-a">
          <h1><b>あ</b></h1>
        </div>
        <div class="card-katakana">
          <p>ア</p>
        </div>
      </div>
      <div class="back">
        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-a">
          <div class="backcard-hiragana">
            <h1><b>あ</b></h1>
          </div>
          <div class="card-bigletter">
            <h4>A<h4>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <div class="front">
        <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'>E</h4><p class='text-center'><b>é</b> comme dans <b>karaté</b></p>">
            <i class="fa fa-eye fa-lg"></i>
        </span>
          <!-- son de l'hiragana -->
        <div class="audioclick">
          <a onclick="h=function(event) { event.preventDefault(); $('#audio_gbu')[0].play();}; h(event);"><i class="fa fa-volume-up fa-lg" style="backface-visibility: hidden;"></i></a>
          <audio id="audio_gbu">
            <source src="http://res.cloudinary.com/dzr44aeiu/video/upload/v1458554325/cgfg1kee44zcigvewfdh.wav" type="audio/mp3">
            Your browser does not support the video tag.
          </audio>
        </div>
          <!-- image mnémotechnique -->
        <span class="idea popover-word" data-content="<p class='text-center'><b>l'image est bientôt prête !</b></p>">
            <i class="fa fa-lightbulb-o fa-lg"></i>
        </span>
        <div class="card-hiragana hiragana-e">
          <h1><b>え</b></h1>
        </div>
        <div class="card-katakana">
          <p>エ</p>
        </div>
      </div>
      <div class="back">
        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-e">
          <div class="backcard-hiragana">
            <h1><b>え</b></h1>
          </div>
          <div class="card-bigletter">
            <h4>E<h4>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="front">
          <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'>I</h4><p class='text-center'><b>i</b> comme dans <b>idéogramme</b></p>">
            <i class="fa fa-eye fa-lg"></i>
          </span>
            <!-- son de l'hiragana -->
          <div class="audioclick">
          <a onclick="h=function(event) { event.preventDefault(); $('#audio_gbu')[0].play();}; h(event);"><i class="fa fa-volume-up fa-lg" style="backface-visibility: hidden;"></i></a>
          <audio id="audio_gbu">
            <source src="http://res.cloudinary.com/dzr44aeiu/video/upload/v1458554325/cgfg1kee44zcigvewfdh.wav" type="audio/mp3">
            Your browser does not support the video tag.
          </audio>
        </div>
            <!-- image mnémotechnique -->
          <span class="idea popover-word" data-content="<p class='text-center'><b>l'image est bientôt prête !</b></p>">
            <i class="fa fa-lightbulb-o fa-lg"></i>
          </span>
          <div class="card-hiragana hiragana-i">
            <h1><b>い</b></h1>
          </div>
          <div class="card-katakana">
            <p>イ</p>
          </div>
        </div>
        <div class="back">
          <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-i">
            <div class="backcard-hiragana">
              <h1><b>い</b></h1>
            </div>
            <div class="card-bigletter">
              <h4>I</h4>
            </div>
          </div>
        </div>
      </div>
    </li>
  <li>
    <div class="card">
      <div class="front">
        <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'>O</h4><p class='text-center'><b>o</b> comme dans <b>orange</b></p>">
          <i class="fa fa-eye fa-lg"></i>
        </span>
            <!-- son de l'hiragana -->
        <div class="audioclick">
          <a onclick="h=function(event) { event.preventDefault(); $('#audio_gbu')[0].play();}; h(event);"><i class="fa fa-volume-up fa-lg" style="backface-visibility: hidden;"></i></a>
          <audio id="audio_gbu">
            <source src="http://res.cloudinary.com/dzr44aeiu/video/upload/v1458554325/cgfg1kee44zcigvewfdh.wav" type="audio/mp3">
            Your browser does not support the video tag.
          </audio>
        </div>
            <!-- image mnémotechnique -->
        <span class="idea popover-word" data-content="<p class='text-center'><b>l'image est bientôt prête !</b></p>">
          <i class="fa fa-lightbulb-o fa-lg"></i>
        </span>
        <div class="card-hiragana hiragana-o">
          <h1><b>お</b></h1>
        </div>
        <div class="card-katakana">
          <p>オ</p>
        </div>
      </div>
      <div class="back">
        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-o">
          <div class="backcard-hiragana">
            <h1><b>お</b></h1>
          </div>
          <div class="card-bigletter">
            <h4>O</h4>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <div class="front">
        <span class="card-question popover-word" data-content="<h4 class='text-center letter-uppercase'>U</h4><p class='text-center'><b>ou</b> comme dans <b>ourson</b></p>">
          <i class="fa fa-eye fa-lg"></i>
        </span>
            <!-- son de l'hiragana -->
        <div class="audioclick">
          <a onclick="h=function(event) { event.preventDefault(); $('#audio_gbu')[0].play();}; h(event);"><i class="fa fa-volume-up fa-lg" style="backface-visibility: hidden;"></i></a>
          <audio id="audio_gbu">
            <source src="http://res.cloudinary.com/dzr44aeiu/video/upload/v1458554325/cgfg1kee44zcigvewfdh.wav" type="audio/mp3">
            Your browser does not support the video tag.
          </audio>
        </div>
            <!-- image mnémotechnique -->
        <span class="idea popover-word" data-content="<p class='text-center'><b>l'image est bientôt prête !</b></p>">
          <i class="fa fa-lightbulb-o fa-lg"></i>
        </span>
        <div class="card-hiragana hiragana-u">
          <h1><b>う</b></h1>
        </div>
        <div class="card-katakana">
          <p>ウ</p>
        </div>
      </div>
      <div class="back">
        <div class="col-sm-3 col-xs-4 col-md-3 containerbackcards-u">
          <div class="backcard-hiragana">
            <h1><b>う</b></h1>
          </div>
          <div class="card-bigletter">
            <h4>U</h4>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

