<div class="container-page">
  <div class="padding-page">
    <div class="container-fluid">
      <div class="row">
        <div class= "col-md-8 col-md-offset-2 form-page">
          <div class="form-bgpage">
            <h1 class="text-center"><span class="inset-synestesie">Qu’est-ce que la synesthésie ?</span></h1>
            <p class="text-center"><b>La synesthésie vient du grec syn (qui signifie « avec », « union ») et aesthesis (sensation). Il s’agit d’un phénomène neurologique par lequel deux ou plusieurs sens sont associés. Par exemple, on peut associer des sons et des formes, des lettres et des couleurs… Certaines personnes voient la lettre A de la couleur verte, même lorsque celle-ci est inscrite noir sur blanc ! On peut aussi volontairement imprimer chaque lettre d’une couleur différente afin de mieux les mémoriser…</b></p>
          </div>
        </div>
        <div class= "col-md-8 col-md-offset-2 form-page">
          <div class="form-bgpage">
            <h3 class="text-center"><span class="inset-synestesie">Nous sommes tous synesthètes !</span></h3>
            <p class="text-center"><b>La synesthésie vient du grec syn (qui signifie « avec », « union ») et aesthesis (sensation). Il s’agit d’un phénomène neurologique par lequel deux ou plusieurs sens sont associés. Par exemple, on peut associer des sons et des formes, des lettres et des couleurs… Certaines personnes voient la lettre A de la couleur verte, même lorsque celle-ci est inscrite noir sur blanc ! On peut aussi volontairement imprimer chaque lettre d’une couleur différente afin de mieux les mémoriser…</b></p>
          </div>
        </div>
        <div class= "col-md-8 col-md-offset-2 form-page">
          <div class="form-bgpage">
            <h3 class="text-center"><span class="inset-synestesie">Quel rapport avec les langues ?</span></h3>
            <p class="text-center"><b>L’approche synesthésique dans l’apprentissage des langues étrangères consiste à sollisciter tous nos sens afin d’apprendre plus vite et de mémoriser durablement. Il s’agit par exemple d’associer chaque lettre, phonème, ou caractère asiatique une certaine couleur. Les manuels traditionnels imprimés noir sur blanc sont lassants et peu efficaces ! Il s’agit encore d’utiliser les sons et la musique pour apprendre des leçons sous format audio.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


